:root {
    --tridactyl-font-family: "Fira Code";
    --tridactyl-bg: #26233a;
    --tridactyl-fg: #e0def4;
    
    --tridactyl-container-color-blue: #31748f;
    --tridactyl-container-color-turquoise: #9ccfd8;
    --tridactyl-container-color-green: #9ccfd8;
    --tridactyl-container-color-yellow: #f6c177;
    --tridactyl-container-color-orange: #ebbcba;
    --tridactyl-container-color-red: #eb6f92;
    --tridactyl-container-color-pink: #c4a7e7;
    --tridactyl-container-color-purple: #c4a7e7;
    
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-small-font-size);
    --tridactyl-status-bg: var(--tridactyl-bg);
    --tridactyl-status-fg: var(--tridactyl-fg);
    --tridactyl-status-border: 1px var(--tridactyl-bg) solid;
    --tridactyl-status-border-radius: 2px;

    --tridactyl-header-font-size: 16px;

    --tridactyl-of-fg: var(--tridactyl-fb);
    --tridactyl-of-bg: var(--tridactyl-bg);

    --tridactyl-hintspan-fg: var(--tridactyl-fg);
    --tridactyl-hintspan-bg: var(--tridactyl-bg);

    --tridactyl-hint-active-fg: var(--tridactyl-container-color-purple);
    --tridactyl-hint-active-bg: var(--tridactyl-container-color-green);

    /*url style*/

    --tridactyl-url-text-decoration: none;
    --tridactyl-url-fg: var(--tridactyl-container-color-green);
    --tridactyl-url-bg: var(--tridactyl-bg);
    --tridactyl-url-cursor: pointer;

    --tridactyl-hint-active-outline: 1px solid #000;

    --tridactyl-hint-bg: rgba(13, 31, 54, 0.25);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-cmdl-font-size: 1.5rem;
    --tridactyl-cmplt-option-height: 1.9em;

    --tridactyl-border-radius: 4px;
}

:root.TridactylOwnNamespace {
    scrollbar-width: thin;
}

:root.TridactylOwnNamespace a {
    color: var(--tridactyl-container-color-green);
}

:root.TridactylOwnNamespace code {
    background-color: var(--tridactyl-bg);
    padding: 3px 7px;
}

:root #command-line-holder {
    order: 1;
}

:root #command-line-holder,
:root #tridactyl-input {
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    width: 96%;
    padding: 1rem;
}

:root #completions table {
    font-weight: 200;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
    border: none !important;
    font-family: var(--tridactyl-font-family);
    order: 2;
    margin-top: 10px;
    border-radius: var(--tridactyl-border-radius);
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr .title {
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    filter: drop-shadow(0px 0px 20px #000000) !important;
    color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
}

:root .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    font-weight: 200 !important;
    padding: 5px !important;
}
